/* Timer styles */

.timer {
  display: flex;
  width: 346px;
  height: 72px;
  column-gap: 24px;
  margin-top: 32px;
}

.days {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 55px;
  height: 72px;
}

.hours {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 61px;
  height: 72px;
}

.minutes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 76px;
  height: 72px;
}

.seconds {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 82px;
  height: 72px;
}

.value {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}

#datetime-picker {
  margin-top: 20px;
  padding: 0px 10px 0px 10px;
  border-radius: 4px;
  width: 252px;
  height: 40px;
  background: #f5f5f5;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

#datetime-picker:hover {
  border: 1px solid #000;
}

#datetime-picker:active {
  border: 1px solid #4e75ff;
}

#datetime-picker:disabled {
  border: 1px solid #808080;
  color: #808080;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  background: #cfcfcf;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4e75ff;
  color: #fff;
}

button:hover {
  background: #6c8cff;
}
